{% extends 'layout.twig' %}

{% block content %}
	<section class="column-detail">
		<hr>
		{% if article %}
			<h1>{{ article.name }}</h1>
			<p><time datetime="{{ article.publishedAt }}">{{ article.publishedAt }}</time></p>
			{% if article.thumb %}
				<p><img src="{{ article.thumb }}" alt=""></p>
			{% endif %}
			<div class="content">{{ article.content|raw }}</div>
		{% else %}
			<p>記事が見つかりません。</p>
		{% endif %}
	</section>
{% endblock %}
