{# views/parts/head.twig #}
<meta charset="UTF-8">
<title>{{ seo.title ?? 'TSUKIパン教室' }}</title>
<meta name="description" content="{{ seo.description ?? '埼玉県熊谷市 熊谷駅より車で10分国産小麦を使用した手ごねパン教室です。' }}">
<meta name="keywords" content="パン教室,埼玉,熊谷,初心者,体験レッスン,1Dayレッスン,手ごねパン,女性限定">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="robots" content="index,follow">
<meta name="author" content="TSUKIパン教室">
<meta name="format-detection" content="telephone=no">
<link rel="start" href="https://www.tsukipan.site" title="Home">
<link rel="help" href="https://www.tsukipan.site/contact" title="お問い合わせ">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="canonical" href="{{ seo.canonical ?? '' }}">

{% if seo %}
<meta property="og:title" content="{{ seo.title }}">
<meta property="og:description" content="{{ seo.description ?? '基本の説明文' }}">
<meta property="og:image" content="{{ seo.ogImage }}">
<meta property="og:url" content="{{ seo.canonical ?? '' }}">
<meta property="og:type" content="{{ seo.type ?? 'website' }}">
{% endif %}

<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" media="(min-width: 768px)" href="/css/common_pc.css">
<link rel="stylesheet" media="(max-width: 767px)" href="/css/common_sp.css">
<link rel="stylesheet" media="(min-width: 768px)" href="/css/{{ page == 'index' ? 'index' : 'lower' }}_pc.css">
<link rel="stylesheet" media="(max-width: 767px)" href="/css/{{ page == 'index' ? 'index' : 'lower' }}_sp.css">

<!-- SEO structuredData START -->
{% if seo.structuredData is defined %}
<script type="application/ld+json">
{{ seo.structuredData|json_encode(
	constant('JSON_UNESCAPED_SLASHES')
	b-or constant('JSON_UNESCAPED_UNICODE')
	b-or constant('JSON_PRETTY_PRINT')
)|raw }}
</script>
{% endif %}

<!-- <link rel="stylesheet" href="/common/css/style.css"> -->
