{# views/parts/pagination_path.twig #}
{% if totalPages > 1 %}
<nav class="pagination">
	<ul>
		{# 前へリンク #}
		{% if currentPage > 1 %}
			<li><a href="/news/page/{{ currentPage - 1 }}">« 前へ</a></li>
		{% endif %}
		{# 各ページリンク #}
		{% for i in 1..totalPages %}
			<li class="{{ currentPage == i ? 'current' : '' }}">
				<a href="/news/page/{{ i }}">{{ i }}</a>
			</li>
		{% endfor %}
		{# 次へリンク #}
		{% if currentPage < totalPages %}
			<li><a href="/news/page/{{ currentPage + 1 }}">次へ »</a></li>
		{% endif %}
	</ul>
</nav>
{% endif %}
